@import url(https://db.onlinewebfonts.com/c/fd1ad3a0f95210975d2f5607501020b5?family=Norse);
@font-face {
    font-family: "Norse"; 
    src: url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.eot"); 
    src: url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.eot?#iefix") format("embedded-opentype"), 
    url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.woff2") format("woff2"), 
    url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.ttf") format("truetype"), 
    url("https://db.onlinewebfonts.com/t/fd1ad3a0f95210975d2f5607501020b5.svg#Norse") format("svg"); 
}
body {
    font-size : 18px;
    background-color: #FFFFFF;
    color: #333333;
}
    h1 {
    font-size : 24px;
}
img {
    width: 400px;
    height: auto;
}
h1.homepage{
    padding: 20px 0;
    margin: 20px 0 50px 0;
    background-color: #E1F4F3;
    color: #706C61;
    font-size: 2rem;
}
h1.homepage, h1.recipe {
    text-align: center;
} 
h1.recipe {
    color: #4E9F3D;
}
li .homepage,
h4.recipe{
    color: #1E5128;
}
.home-headers{
    margin: 20px 10px;
}
.home-headers a{
    color: #333333;
    text-decoration: none;
}

