body {
    font-size : 18px;
    background-color: #F7F7F7;
    color: #333333;
}
a {
    text-decoration: none;
}
    h1 {
    font-size : 24px;
}
.home {
    font-size: 3rem;
    color: #706C61;
}
h1.homepage{
    padding: 20px 0;
    margin: 20px 0 50px 0;
    background-color: #E1F4F3;
    font-size: 2rem;
}
.main-container {
    text-align: center;
}
.main-container, .recipe-pages {
    width: 60vw;
    margin: 0px auto;
}
.content, .recipe-pages {
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding: 30px 0px;
}
.home-headers a{
    color: #333333;
}

h1.homepage {
    text-align: center;
}
.home-headers {
    text-align: center;
    margin: 10px 0px;
}
img {
    width: 400px;
    height: auto;
}
.img-name img {
    width: 400px;
    height: auto;
    border-radius: 100%;
}
.recipe-pages img {
    border-radius: 10px;
}
#recipe-container1 {
    display: flex;
    align-items: center; /*horizontal centering*/
    justify-content: center; /*vertical centering*/
    flex-direction: row; 
}
#recipe-container2 {
    display: flex;
    align-items: center; /*horizontal centering*/
    justify-content: center; /*vertical centering*/
    flex-direction: row; 
}
#recipe-container3 {
    display: flex;
    align-items: center; /*horizontal centering*/
    justify-content: center; /*vertical centering*/
    flex-direction: row; 
}
.img-name {
    margin: 0px 30px;
}
.img-description {
    margin: 0px 30px;
    
}
.recipe-description {
    text-align: center;
}
.recipe-description p {
    width: 70%;
    margin: auto;
}
.recipe {
    margin: 20px 20px;
}
ul {
    list-style-type: disc;
    margin: 0px 0px 0px 40px;
}
ol {
    list-style-type: decimal;
    margin: 0px 0px 0px 40px;
    margin-bottom: 10px;
}
li {
    margin-bottom: 5px;
}
.footer {
    text-align: center;
    height: 70px;
    padding: 20px 0;
    margin: 70px 0px 20px 0px;
    background-color: #E1F4F3;
    font-size: 1rem;
    font-weight: bold;
}
.footer a {
    color: #706C61;
    display: block;
    margin-bottom: 10px;
}





